
/**
 *
 * DogList.css
 *
 */

.employee-list{
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0 10%;
    line-height: 1.2em;
}

.attend {
    color: #00ff00;
}

.absent {
    color: #ff0000;
}

.table-head{
    font-size: 1.5rem !important;
    line-height: 1.3em;
    background-color: #bad4ff;
}

.table-head-id{
    padding-right: 0 !important;
}

.table-body{
    font-size: 1rem !important;
    line-height: 1em;
}

@media screen and (max-width: 550px){
    .employee-list{
        padding: 0;
    }

    .table-head{
        font-size: 1rem !important;
        padding-right: 0 !important; 
        width: 50px !important;
    }

    .table-id{
        width: 10%;
        padding-right: 10px !important; 
    }

    .table-employee{
        width: 30%;
        padding-right: 0 !important; 
    }

    .table-time{
        width: 35%;
        padding-right: 0 !important; 
    }
    .table-status{
        width: 20%;
        padding-right: 20px !important;
    }
}