
/**
 *
 * Header styles
 *
 */

.title {
  text-align: center;
  color: #333;
  font-size: 30px;
}

.title-link {
  font-size: 23px;
  line-height: 1.25em;
}

.logo {
  width: 50px;
}

.header{
  background-color: #dbe8ff;
  padding: 25px 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


@media screen and (max-width: 600px){
  .title {
    font-size: 26px;
    order: 1;
    margin-bottom: 25px;
  }

  .menu {
    display: flex;
    justify-content: space-between;
    order: 2;
  }

  .title-link {
    font-size: 18px;
    line-height: 1.25em;
  }

  .title-link:first-of-type {
    margin-right: 15px;
  }

  .header{
    flex-direction: column;
  }
}